.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#content{
	margin-right: 100px;
}

#sidebar{
	border-left: 1px solid cornflowerblue;
}