{% extends "website/base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Startpage</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/konto/">Konto</a>
                    </li>
                    <li>
                        <a href="/account/">Account</a>
                    </li>
                    <li>
                        <a href="/account/login">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container" style="margin-top:70px;">
        <h1>Meine Seite</h1>
        <h3>Übersicht</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Meine Uploads</h3>
                    <p>Hier ist eine Spalte mit geteilten Bildern</p>
                </div>
                <div class="col-sm-4">
                    <h3>Meine Post</h3>
                    <p>Hier ist eine Spalte mit den vom User verfassten Posts</p>
                </div>
                <div class="col-sm-3">
                    <h3>Meine Tags, Kommentare und Likes</h3>
                    <p>Hier ist eine Spalte mit einer Übersicht über die Aktivitäten des Nutzers bei fremden Inhalten</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}